body {
	background: lightgrey;
}

div {
	margin-bottom: 1.5em;
}

h2 {
	margin-bottom: -12px;
}

.projectLink {
	background: -webkit-linear-gradient(#0F00DB, #32A638);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

h2.projectLink > a {
	text-decoration: none;
}
  
#myName {
	color: #388635;
	font-weight: bold;
}

#myEmail {
	font-size: 2em;
	font-weight: bold;
}

#myEmail input {
	margin-left: 0.5em;
	font-size: 1em;
}
	
